<nav class="navbar navbar-expand-lg navbar-light nav-color">
  <div class="container-fluid">
      <div>
          <div class="title"><img class="img-title" src="icons/pharmacist.png" /><a class="navbar-brand" href="#"></a>ModernPharmacy</div>
      </div>  
  </div>
</nav>

@code {

}
